.cards {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: .5rem;
    width: 14rem;
    height: 5rem;
}
.cards .cards__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cards .cards__header h3 {
    text-transform: capitalize;
}
.cards .cards__header small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
    border-radius: 5rem;
    box-shadow: var(--shadow);
    background: var(--white-color);
    color: var(--red-color);
}
.cards .cards__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cards .cards__total span {
    text-transform: capitalize;
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .cards {
        width: 20rem;
    }

}