.items {
    background: var(--white-color);
    box-shadow: var(--shadow);
    max-width: 1100px;
    width: 95%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 3rem auto;
}
.items .items__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--bg-color);
}
.items .items__info span {
    font-weight: 500;
    text-transform: capitalize;
    margin-block-end: .5rem;
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .items {
        margin: 1rem auto;
    }

}