.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: var(--red-color);
    box-shadow: var(--shadow2);
}
h2 {
    color: var(--white-color);
    text-transform: capitalize;
}